body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.calcContainer {
  box-sizing: border-box;

  height: 800px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  padding: 64px;
  background-color: black;
}

.brandTitle {
  color: white;
  font-size: 24px;
}

.calcDisplay {
  height: 10%;
  padding: 2px;
  background-color: darkseagreen;
}

.calcInput {
  margin-bottom: 24px;
  font-size: 32px;
}

.greenDot,
.redDot {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.greenDot {
  background-color: green;
  margin-right: 36px;
}
.redDot {
  background-color: red;
}

.calcBtns {
  height: 60%;
  display: flex;
  flex-direction: column-reverse;
}

.calcBtns > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calcBtns > div > button {
  border: 0;
  width: 3em;
  height: 3em;
  aspect-ratio: 1/1;
  border-radius: 50%;

  font-size: 20px;
  font-weight: 500;
}
