:root {
  --calc-color: #363334;
  --numBtn-color: #161314;
  --opBtn-color: #4b3224;
  --resBtn-color: #fba146;
  --clrBtn-color: #363634;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.calcContainer {
  height: 800px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  padding: 64px;
  background-color: var(--calc-color);
  border: 10px outset black;
}

.brandTitle {
  color: white;
  font-size: 24px;
}

.letterU {
  font-size: 32px;
}

.calcDisplay {
  box-sizing: content-box;
  display: flex;
  height: 5%;
  padding: 8px;
  background-color: darkseagreen;
  border-radius: 10px;
  border: 20px inset black;
  border-bottom: 40px inset black;
}

.calcInput {
  margin-bottom: 24px;
  font-size: 32px;
}

.greenDot,
.redDot {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border-top: 3px;
  border-left: 3px;
  border-right: 6px;
  border-bottom: 6px;
  border-style: outset;
}
.greenDot {
  background-color: green;
  margin-left: 16px;
  margin-right: 36px;
  border-color: green;
}
.redDot {
  background-color: red;
  border-color: red;
}

.calcBtns {
  height: 60%;
  display: flex;
  flex-direction: column-reverse;
}

.calcBtns > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calcBtns > div > button {
  width: 3em;
  height: 3em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-right: 5px outset black;
  border-bottom: 5px outset black;
  border-left: 3px outset black;
  border-top: 3px outset black;

  font-size: 20px;
  font-weight: 700;
  color: white;
}

.calcBtns > div > button:active {
  border-right: 3px outset black;
  border-bottom: 3px outset black;
  border-left: 5px outset black;
  border-top: 5px outset black;
}

.numBtn {
  background-color: var(--numBtn-color);
}

.opBtn {
  background-color: var(--opBtn-color);
}

.resBtn {
  background-color: var(--resBtn-color);
}

.clrBtn {
  background-color: var(--clrBtn-color);
}
